body {
  background-color: black;
  font-family: 'Helvetica';
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #ffffff;
}

#video-chat-lobby {
  text-align: center;
  max-width: 600px;
  background-color: #141414;
  margin: 30px auto;
}

#chat-window {
  height: 400px;
  overflow: auto;
  background: #f9f9f9;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #000000;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 20px;
  box-sizing: border-box;
  background: #eee;
  display: block;
  width: 100%;
  background: rgb(255, 253, 253);
  font-family: Nunito;
  font-size: 16px;
}

#join {
  background: #141414;
  color: #fff;
  font-size: 18px;
  padding: 12px 0;
  width: 100%;
  cursor: pointer;
}

#join:hover {
  background: #2b2a2a;
}

#video-chat-room {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  max-height: 90vh;
  width: 100%;
}

#user-video {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}

.peer-video {
  max-height: 90vh;
}

#control-buttons {
  display: none;
  width: max-content;
  margin: 0 auto;
}

#control-buttons button {
  background-color: #141414;
  border: 1px solid white;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
}

#control-buttons button:not(:last-child) {
  border-right: none;
}

#control-buttons button:hover {
  background-color: #2b2a2a;
}
